.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four equal columns */
    gap: 20px; /* Space between columns */
    background-color: #faf5f0;
    padding: 20px;
}

.footer-section {
    text-align: center;
}

.footer-content .logo-footer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

    .footer-content .logo-footer img {
        height: auto;
        width: 150px;
        max-height: 100px;
        max-width: 100%;
    }

.footer-section h2 {
    font-size: 1.2rem; /* Reduce font size for section headings */
    margin-bottom: 5px; /* Reduce bottom margin for section headings */
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

    .footer-links a {
        text-decoration: none;
        color: #000;
        margin: 1px 0; /* Reduce vertical margin for links */
        padding: 0; /* Remove padding for links */
        transition: color 0.3s;
    }

        .footer-links a:hover {
            color: #007bff;
        }

.address-content p {
    margin: 2px 0; /* Reduce vertical margin for address content */
}

#fixed-footer {
    background-color: #faf5f0;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    margin-top: 20px;
}
